.table_history_medic>tbody>tr>td{
	padding-top: .7rem !important;
	padding-bottom: .7rem !important;
}
.table_history_medic>thead>tr>th{
	background: #2962ff;
	color: #fff;
	font-weight: 700;
	border: 0;
}
th, td {
    white-space: nowrap !important;
}
tr, th {
    white-space: nowrap !important;
}

table.dataTable{
	border-collapse: collapse !important;
}

table.dataTable thead tr td {
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: nowrap !important;
}

.table_history_medic>thead>tr>th{
	background: #36bea6 !important;
	border: 0;
}
.table_history_medic{
    border-collapse: collapse;
	font-size: 90% !important;
}
.table_history_medic>tbody>tr:hover{
	cursor: pointer !important;
}
.table_history_medic>thead>tr>th{
	padding-top: .4rem !important;
	padding-bottom: .4rem !important;
}
.table_history_medic>tbody>tr>td{
	padding-top: .3rem !important;
	padding-bottom: .3rem !important;
	border: 0;
}

@media (min-width: 768px){
.modal-right .modal-dialog.modal-lg {
    width: 60%;
}

.table-medic-info{
	border:none;
	font-size:12px;
	margin:0 20px;
	width:100%;
    table-layout: fixed;
    width: 100%;
}

.table-medic-info tr > td{
	vertical-align: top;
	word-wrap: break-word;
    overflow-wrap: break-word;
    white-space:pre-wrap;
}

a.chat_files_link:hover, a.chat_files_link:focus{
	color: #ffffff !important;
}
a.chat_files_link:hover, a.chat_files_link:focus{
	color: #ffc107 !important;
}


.customLoading {
  height:100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,.6);
  text-align: center;
  display: table;
}

.customLoadingContainer {
  display: table-cell;
    vertical-align: middle;
}
.auth-2 {
	height: 100vh !important;
}

.modal-backdrop{
	z-index: inherit !important;
}

.dataTables_processing {
	background: transparent !important;
}